# EJEMPLO DE SECRETS PARA STREAMLIT
# Copia este archivo a .streamlit/secrets.toml y ajusta con tus valores
# ¡NO SUBAS ESTE ARCHIVO A GITHUB!

# Configuración para base de datos Clever Cloud (RECOMENDADO para producción)
DB_USER = "uuoxxbrx6knnwzc6"
DB_PASS = "5fIPyo9KIlulljR0yTdB"
DB_HOST = "bdldn022szfj4gyd9fqn-mysql.services.clever-cloud.com"
DB_PORT = "3306"
DB_NAME = "bdldn022szfj4gyd9fqn"

# Configuración para base de datos LOCAL (solo desarrollo)
# Descomenta para usar Docker localmente

# DB_USER = "root"
# DB_PASS = "123456"
# DB_HOST = "localhost"
# DB_PORT = "3308"
# DB_NAME = "observatorio_bilinguismo"
